@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background ;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

@layer base {
    :root {
        --background: theme(colors.hillary.50);
        --foreground: theme(colors.hillary.950);
        --card: theme(colors.chetwode-blue.50);
        --card-foreground: theme(colors.chetwode-blue.950);
        --popover: theme(colors.hillary.50);
        --popover-foreground: theme(colors.hillary.950);
        --primary: theme(colors.chetwode-blue.950);
        --primary-foreground: theme(colors.chetwode-blue.50);
        --secondary: theme(colors.goldenrod.900);
        --secondary-foreground: theme(colors.goldenrod.50);
        --muted: theme(colors.hillary.50);
        --muted-foreground: theme(colors.hillary.800);
        --accent: theme(colors.chetwode-blue.100);
        --accent-foreground: theme(colors.chetwode-blue.900);
        --destructive: theme(colors.froly-red.900);
        --destructive-foreground: theme(colors.froly-red.50);
        --border: theme(colors.chetwode-blue.200);
        --input: theme(colors.chetwode-blue.300);
        --ring: theme(colors.chetwode-blue.200);
        --radius: 0.5rem;
        --sidebar-background: theme(colors.chetwode-blue.50);
        --sidebar-foreground: theme(colors.chetwode-blue.950);
        --sidebar-primary: theme(colors.chetwode-blue.900);
        --sidebar-primary-foreground: theme(colors.chetwode-blue.100);
        --sidebar-accent: theme(colors.chetwode-blue.200);
        --sidebar-accent-foreground: theme(colors.chetwode-blue.950);
        --sidebar-border: theme(colors.chetwode-blue.400);
        --sidebar-ring: theme(colors.chetwode-blue.500);
    }
    :root[class~="dark"] {
        --background: theme(colors.hillary.950);
        --foreground: theme(colors.hillary.50);
        --card: theme(colors.chetwode-blue.950);
        --card-foreground: theme(colors.chetwode-blue.50);
        --popover: theme(colors.hillary.950);
        --popover-foreground: theme(colors.hillary.100);
        --primary: theme(colors.chetwode-blue.50);
        --primary-foreground: theme(colors.chetwode-blue.950);
        --secondary: theme(colors.goldenrod.50);
        --secondary-foreground: theme(colors.goldenrod.900);
        --muted: theme(colors.hillary.800);
        --muted-foreground: theme(colors.hillary.50);
        --accent: theme(colors.chetwode-blue.900);
        --accent-foreground: theme(colors.chetwode-blue.100);
        --destructive: theme(colors.froly-red.50);
        --destructive-foreground: theme(colors.froly-red.900);
        --border: theme(colors.chetwode-blue.700);
        --input: theme(colors.hillary.700);
        --ring: theme(colors.chetwode-blue.700);
        --radius: 0.5rem;
        --sidebar-background: theme(colors.chetwode-blue.950);
        --sidebar-foreground: theme(colors.chetwode-blue.50);
        --sidebar-primary: theme(colors.chetwode-blue.100);
        --sidebar-primary-foreground: theme(colors.chetwode-blue.900);
        --sidebar-accent: theme(colors.chetwode-blue.700);
        --sidebar-accent-foreground: theme(colors.chetwode-blue.50);
        --sidebar-border: theme(colors.chetwode-blue.500);
        --sidebar-ring: theme(colors.chetwode-blue.400);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
